.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Center vertically in the viewport */
  text-align: center;
  margin-left: 100px;
}
.right {
  margin-bottom: 100px;
}


.left iframe {
  border-radius: 10px;
  height: 550px;
  width: 40vw;
}

.image{ 
 /* Set the maximum width */
  max-height: 400px; /* Set the maximum height */
  overflow: hidden; 
}

.bottom {
  margin: 100px;
  margin-top: 100px;
  display: flex;
}
.left {
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
}

.Heading {
  color: black;
  text-align: center;
  font-size: 50px;
}
@media (max-width: 1226px) {
  .bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .left {
    display: flex;
    justify-content: center;
  }
  .left iframe {
    margin: auto;

    height: 400px;
  }

  .right {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
}
@media (max-width: 805px) {
  .bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .left {
    display: flex;
    justify-content: center;
  }
  .left iframe {
    margin: auto;
    width: 65vw;
  }
  .iframe {
    width: 90%;
  }
  .right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
}
