.heroSection{
    display: flex;
    justify-content: space-between;
  height: 90vh;
}
.left{
    margin-top: 120px;
    width: 100%;
    margin-left: 60px;
}
.left h1{
  font-weight: 900;
    margin-left: 10px;
    margin-top: 100px;
    font-size: 60px;
}

.right img{ 
margin-top: 10px;
  height:  650px;
  width:   1068px;
  
}
/* <reset-style> ============================ */
.primary_button button{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
  }
  /* <main-style> ============================ */
  .primary_button {
    margin-left: 10px;
    min-width: 90px;
    height: 40px;
    border-radius: 40px;
    background: #000;
    padding: 16px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.32px;
    transition: background .2s ease-in-out, color .2s ease-in-out;
    position: relative;
  }
  
  .primary_button::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: linear-gradient(69deg, #c3aab2 -4.77%, #9ec 46.72%, #80c0c8 90.23%, #4B8bfa 134.46%);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity .2s ease-in-out;
  }
  
  .primary_button:hover {
    background: transparent;
    color: #000;
  }
  
  .primary_button:hover::before {
    opacity: 1;
  }
.buttons{
    display: flex;
    align-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-left: 10px;
}
@media (max-width: 1128px){
    .right img{ 
        display: none;  
        }
        .left{
            margin-top: 20px;
            width: 100%;
            height: 70vh;
        }
        .left h1{
          font-size: 50px;
        }
    }


    .ppp{
      display: flex;
      justify-content: center;
  }

  @media (max-width: 1373px){
    .left{
      margin-top: 10px;
    }
  }
