.card {
    width: 29em;
    height: 27.5em;
    background: tansparent;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    color:black;
    justify-content: center;
    align-items: center;
  }
  
  .card span {
    font-weight: bold;
    color: black;
    text-align: center;
    display: block;
    font-size: 1.5em;
  }
  
  .card .info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-weight: 400;
     color:black;
    display: block;
    text-align: center;
    font-size: 1.09em;
    margin: 1em;
    
  }
  
  /* .card .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
  } */
  .card .img {
    width: 4.8em;
    height: 4.8em;
    /* background: white; */
    border-radius: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ppp{
    display: flex;
    justify-content: center;
}
@media (max-width: 1271px) {
  .ppp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
  