.cards{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.head{
    text-align: center;
    font-size: 60px;
    color: black;
}
@media (max-width: 1169px){
    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}